body {
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
#main{
    width: 100vw;
    height: 8088.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
}
#header-container {
    width: 100vw;
    height: 88.914;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.gogo-img {
    width: 119px;
    height: 38.91px;
}

#header-box {
    width: 1100px;
    height: 38.914px;
    background-color: whitesmoke;
    display: flex;
    margin-top: 30px;
}

#header-list-div {
    width: 556.34px;
    height: 22px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin-left: 20px;
}

.header-bar {
    width: 745.34px;
    height: 38.91px;
    display: flex;
    align-items: center;
}

#list {
    width: 556px;
    height: 22px;
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    justify-content: space-between;
    font-weight: 600;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-bar-img {
    width: 20px;
    height: 20px;
}

.search-bar {
    width: 20px;
    height: 24.5px;
    display: flex;
    padding-left: 15px;
}

#div-navbar {
    height: 42px;
    width: 270.52px;
    background-color: whitesmoke;
    display: flex;
    margin-left: 84.141px;

    justify-content: space-between;
    align-items: center;

}

.navbar-first-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-second-img {
    width: 20px;
    height: 20px;

    margin-right: 5px;
}

#div-navbar-first {
    width: 70px;
    height: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 550;
    font-size: larger;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 5px;
}

#div-navbar-second {
    font-weight: 550;
    font-size: larger;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 70px;
    height: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#div-navbar-third {
    font-weight: 550;
    font-size: larger;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 83px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.navbar-third-symbol1 {
    color: rgb(167, 216, 68);
    display: flex;
    margin: 0px;
}

.navbar-third-symbol2 {
    display: flex;
    color: rgb(193, 183, 183);
    margin: 0px;
}

.navbar-third-symbol3 {
    display: flex;
    margin: 0px;
}

#div-highlight {
    width: 100vw;
    height: 763px;
    display: flex;
 
    background-color: whitesmoke;

    justify-content: center;
}

#highlight-container {
    width: 1100px;
    height: 748px;
    background-color: whitesmoke;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

#top-highlight {
    width: 1100px;
    height: 385px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;

}

#highlight-bottom {
    width: 1100px;
    height: 283px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 30px;
    margin-bottom: 50px;
}

#box-1 {
    background-color: whitesmoke;
    width: 502.8px;
    height: 228px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
}

.img-top-hl {
    width: 542.5px;
    height: 385px;
    border-radius: 6px;
    transition: transform 0.3s;
    object-fit: cover;
}

.img-top-hl:hover {
    transform: scale(1.1);
}

#img-top-div {
    width: 542.5px;
    height: 385px;
    display: flex;
    margin-left: 15px;
    overflow: hidden;
}

.black-box {
    background-color: black;
    width: 542.5px;
    height: 385px;
    border-radius: 6px;
    opacity: 1;
    transition: transform 0.3s;
}

#button-top {
    height: 30px;
    width: 73.02px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-style: hidden;
    color: white;
    background-color: olivedrab;
}

.share-icon {
    width: 20.453px;
    height: 20px;
    opacity: 0.3;
}

#bot-box1 {
    width: 278.75px;
    height: 283px;
    display: flex;

}

#bot-box2 {
    width: 278.75px;
    height: 283px;
    display: flex;

}

#bot-box3 {
    width: 278.75px;
    height: 283px;
    display: flex;

}

#bot-box4 {
    width: 278.75px;
    height: 283px;
    display: flex;

}

.box1-img {
    width: 263.75px;
    height: 175px;
    object-fit: cover;
    border-radius: 8px;
}

.box-share-icon {
    width: 13px;
    height: 13px;
    opacity: 0.5;
}

.box4-img {
    right: 0;
    border-radius: 8px;
}

#box4-div {
    display: flex;
}

.share-icon-container {
    width: 23.84px;
    height: 22px;
    opacity: 0.5;
    font-size: medium;
    display: flex;
    justify-content: space-between;

}

.box1-text {
    font-weight: 600;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}

#story-div {
    width: 100vw;
    height: 280.5px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}

#story-container {
    background-color: white;
    width: 1100px;
    height: 280.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-title {
    width: 1100px;
    display: flex;
    flex-direction: row;
    
}

.story-title1 {
    font-size: x-large;
    color: black;
    width: 70px;
    height: 25px;
    display: flex;
    align-items: end;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    margin-top: 2px;
}

.story-title2 {
    font-size: large;
    color: aliceblue;
    width: 70px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(178, 178, 234);
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 2px;
    margin-left: 4px;
}

#story-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
    margin: 0px;
    padding: 0px;

}

.story-item {
    width: 170px;
    height: 235px;
    margin-left: 0px;
    padding-left: 0px;
}

.story-img {
    width: 170px;
    height: 235px;
    object-fit: cover;
    border-radius: 6px;
}

#news-container {
    width: 1100px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;
}
#news-button-1{
    width: 103.812px;
    height: 60.867px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    border-style: none;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.2s;
}
.leaf-img{
    width: 23px;
    height: 26px;
    margin-bottom: 10px;
   
}
.text-news{
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 580;
    font-size: large;
    margin: 0px;
    padding: 0px;
    color: rgb(162, 168, 239);
}
#news-button-line{
    background-color: rgb(212, 206, 206);
    border-radius: 5px;
    border-style: none;
    width: 103.812px;
    height: 7px;
}
.news-buttons{
    width: 103.812px;
    height: 29px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-style: none;
    background-color: white;
   
}
#news-button-1:hover{
   
   .text-news{
    color: blue;
    transition-duration: 0.5s;
   }
   .news-button-text{
    color: blue;
    transition-duration: 0.5s;
   }
   #news-button-line{
    background-color: blue;
    transition-duration: 0.5s;
   }
    
}
.news-buttons:hover{
    .news-button-text{
     color: blue;
     transition-duration: 0.5s;
    }
    #news-button-line{
     background-color: blue;
     transition-duration: 0.5s;
    }
 }
.news-button-text{
    margin: 0px;
    padding: 0px;
    color:  rgb(212, 206, 206);
}
#title-left{
    width: 690px;
    height: 60.83px;
    display: flex;
    justify-content: start;
    margin-top: 50px;
    align-items: end;
}
#left-news-container{
    width: 690px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
.news-boxes{
    width: 690px;
    height: 150px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}
.news-box-img{
    width: 210px;
    height: 150px;
    object-fit: cover;
}
.news-box-text{
    width: 450px;
    height: 150px;
    background-color: blue;
}
#footer{
    width: 100vw;
    height: 247.648px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-section{
    width: 1100px;
    height: 147.648px;
    background-color: whitesmoke;
}
#footer-button-container{
    width: 1100px;
    height: 65.25px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}
.footer-logo{
    width: 120px;
    height: 39.23px;
}
#logo-div{
    width: 149.961px;
    height: 65.25px;
    background-color: whitesmoke;
    display: flex;
    justify-content: start;
    align-items: start;
}
#buttons-div{
    width: 949.84px;
    height: 65.25px;
    background-color: whitesmoke;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}
#footer-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
.footer-list-items{
    color: black;
    display: flex;
    flex-direction: row;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-left: 20px;
}
.footer-img{
    width: 15px;
    height: 20px;
    padding-right: 15px;
}
.footer-list-item-5{
    color: black;
    display: flex;
    flex-direction: row;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-top: 10px;
}
#footer-line{
    width: 1100px;
    height: 1px;
    background-color: rgb(220, 216, 216);
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
#footer-end-text{
    width: 530px;
    height: 20px;
    color: black;
    font-size: smaller;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button-img{
    width: 20px;
    height: 20px;
}
#end-button-container{
    width: 530px;
    height: 21.4px;
    display: flex;
    justify-content: end;
    margin-left: 40px;
}
.footer-buttons{
    border-style: none;
    background-color: whitesmoke;
    margin-left: 15px;
    padding: 0px;
}
#footer-end-container{
    width: 1100px;
    height: 21px;
    display: flex;
    flex-direction: row;
}